<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUP SIS Enrollment</title>

  <link rel="stylesheet" href="/StudentCSS/Enrolled.css">
</head>
<body>

  
  <header class="topbar">
    <div class="top-left">
      <img src="/Images/PUPLOGO.png" alt="logo">
      <span>Polytechnic University of the Philippines</span>
    </div>
  </header>

  
  <div class="layout">

    
    <aside class="sidebar">

      <div class="sis-logo">
        <h1>SIS</h1>
        <span>Student Portal</span>
      </div>

      <nav>
        <a href="Profile Frame">Profile</a>
        <a href="#" class="active">Enrollment</a>
        <a href="Grades Frame">Grades</a>
      </nav>

      <div class="sidebar-bottom">
        <small>
          Signed in as<br>
          <strong>Name Placeholder</strong><br>
          2024-00123-SP-0
        </small>

        <a href="#" class="change-pass">Change Password</a>

        <button class="logout">
          
        </button>
      </div>

    </aside>

    
    <main class="content">

      <h2>Registration (S.Y. 2526 - Second Semester )</h2>

      
      <div class="student-box">

        <h3>Name Placeholder (2024-00123-SP-0)</h3>

        <div class="info-row">

          <div class="info-item">
            <strong>Status</strong>
            <span>: Regular (23 Units Allowed)</span>
          </div>

          <div class="info-item">
            <strong>Section</strong>
            <span>: BSIT-SP 2 - 1</span>
          </div>

        </div>

       
        <div class="alert">
          👍 You are qualified to Free Higher Education Act
        </div>

        
        <div class="enrolled-box">

          <div class="check">✓</div>

          <h1>You are officially enrolled.</h1>

          <p>S.Y. 2026 - Second Semester</p>

          <button class="certificate">
            📄 Certificate of Registration
          </button>

        </div>

      </div>

    </main>

  </div>

</body>
</html>