<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUP Enrollment</title>
    <link rel="stylesheet" href="/StudentCSS/Enrollment.css">
</head>
<body>

<div class="container">

    <aside class="sidebar">

        <div class="logo">
            <h1>SIS</h1>
            <p>Student Portal</p>
        </div>

        <nav>
            <a href="Profile Frame">Profile</a>
            <a href="#" class="active">Enrollment</a>
            <a href="Grades Frame">Grades</a>
        </nav>

        <div class="user-box">
            <small>Signed in as</small>

            <h4>
                Name Placeholder
            </h4>

            <small>2024-00123-SP-0</small>

            <button class="change-pass">
                Change Password
            </button>

            <a href ="/Log Out">
                Log out
            </a>
        </div>
    </aside>

    <main class="main">

        
        <header class="topbar">
            <h2>Polytechnic University of the Philippines</h2>
        </header>

        
        <section class="page-title">
            Registration (S.Y. 2526 - Second Semester)
        </section>

       
        <section class="student-info">

            <div class="info-left">
                <h3>Name Placeholder</h3>
                <p>(2024-00123-SP-0)</p>

                <div class="status-box">
                    <p><strong>Status:</strong> Warning (23 Units Allowed)</p>
                    <p><strong>Section:</strong> BSIT-SP 2 - 1</p>
                </div>
            </div>

            <div class="procedure">
                <h4>Enrollment Procedure:</h4>
                <ol>
                    <li>Check all subjects</li>
                    <li>Click Save & Assess</li>
                    <li>Review and confirm</li>
                </ol>
            </div>

        </section>

        
        <section class="table-section">

            <div class="table-header">
                Check all the subjects and schedule to enroll
            </div>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Subject Code</th>
                        <th>Description</th>
                        <th>Lec</th>
                        <th>Lab</th>
                        <th>Units</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>COMP 009</td>
                        <td>Object Oriented Programming</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td><button>Select Schedule</button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td>COMP 010</td>
                        <td>Information Management</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td><button>Select Schedule</button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td>COMP 012</td>
                        <td>Network Administration</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td><button>Select Schedule</button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button></button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button></button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button></button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button></button></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button></button></td>
                    </tr>

                </tbody>
            </table>


            <a href="Save">
            <div class="save-btn">
                <button>Save & Assess</button>
            </div>
            </a>

        </section>

    </main>
</div>

</body>
</html>