<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>

    <link rel="stylesheet" href="/StudentCSS/Grades.css">
</head>

<body>

<div class="container">

    <aside class="sidebar">

        <div class="logo">
            <h1>SIS</h1>
            <p>Student Portal</p>
        </div>

        <nav>
            <a href="Profile Frame">Profile</a>
            <a href="Enrollment Frame">Enrollment</a>
            <a href="#" class="active">Grades</a>
        </nav>

        <div class="user-box">
            <small>Signed in as</small>

            <h4>
                Name Placeholder
            </h4>

            <small>2024-00123-SP-0</small>

            <button class="change-pass">
                Change Password
            </button>

            <a href ="/Log Out">
                Log out
            </a>
        </div>

    </aside>

    
    <main class="main">

        
        <header class="topbar">

            <div class="school">
                Polytechnic University of the Philippines
            </div>

        </header>

        
        <section class="content">

            <h2 class="page-title">
                Grades
            </h2>

            
            <div class="info-box">

                <div class="semester">
                    <p>School Year</p>

                    <h1>2526 - Second Semester</h1>

                    <h2>
                        Name Placeholder
                    </h2>

                    <h3>
                        (2024-00123-SP-0)
                    </h3>

                    <div class="gpa">
                        GPA:
                    </div>
                </div>

                
                <table>

                    <thead>
                        <tr>
                            <th>Subject Code</th>
                            <th>Description</th>
                            <th>Faculty</th>
                            <th>Units</th>
                            <th>Section</th>
                            <th>Final Grade</th>
                            <th>Grade Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </section>

    </main>

</div>

</body>
</html>