<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PUP SIS</title>

  
  <link rel="stylesheet" href="/StudentCSS/index.css">
</head>
<body>

 
  <div class="topbar">
    <img src="/Images/PUPLOGO.png" alt="PUP Logo">
    <h2>Polytechnic University of the Philippines</h2>
  </div>

  
  <div class="container">

    <img 
      class="logo"
      src="/Images/PUPLOGO.png" 
      alt="PUP Logo"
    >

    <h1 class="title">WELCOME TO SIS</h1>

    <div class="cards">

    <a href="/Continuee">
      <div class="card">
        <div class="icon">🛡</div>
        <h3>Admin</h3>
        <div class="continue">Continue →</div>

      </div>
</a>
     <a href="/Continueee">
      <div class="card">
        <div class="icon">💼</div>
        <h3>Faculty</h3>
        <div class="continue">Continue →</div>
      </div>
      </a>

      <a href="/Continue">
      <div class="card">
        <div class="icon">🎓</div>
        <h3>Student</h3>
        <div class="continue">Continue →</div>
      </div>
    </a>

    </div>
  </div>

</body>
</html>