<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PUP SIS - Personal Data</title>
    <link rel="stylesheet" href="/StudentCSS/Profile.css" />
</head>
<body>

    <div class="container">

    <aside class="sidebar">

        <div class="logo">
            <h1>SIS</h1>
            <p>Student Portal</p>
        </div>

        <nav>
            <a href="#" class="active">Profile</a>
            <a href="Enrollment Frame">Enrollment</a>
            <a href="Grades Frame" >Grades</a>
        </nav>

        <div class="user-box">
            <small>Signed in as</small>

            <h4>
                Name Placeholder
            </h4>

            <small>2024-00123-SP-0</small>

            <button class="change-pass">
                Change Password
            </button>

           <a href ="/Log Out">
                Log out
            </a>
        </div>
        </aside>

        
        <main class="main-content">

            
            <header class="topbar">
                Polytechnic University of the Philippines
            </header>

            
            <section class="content">
                <h2 class="page-title">Personal Data</h2>

                <div class="card">

                    <h3 class="student-name">
                        DELA CRUZ, JUAN BATUMBAKAL (2024-00123-SP-0)
                    </h3>

                    <div class="info-grid">

                        <div class="row">
                            <label>Student Number :</label>
                            <span>2024-00123-SP-0</span>
                        </div>

                        <div class="row">
                            <label>Name :</label>
                            <span>DELA CRUZ, JUAN BATUMBAKAL</span>
                        </div>

                        <div class="row">
                            <label>Gender :</label>
                            <span>Male</span>
                        </div>

                        <div class="row">
                            <label>Date of Birth :</label>
                            <span>January 11 2006</span>
                        </div>

                        <div class="row">
                            <label>Place of Birth :</label>
                            <input type="text" />
                        </div>

                        <div class="row">
                            <label>Mobile Number :</label>
                            <input type="text" />
                        </div>

                        <div class="row">
                            <label>Email Address :</label>
                            <input type="email" />
                        </div>

                        <div class="row textarea-row">
                            <label>
                                Residential Address :
                                <small>(Where you stay while you are studying in PUP)</small>
                            </label>
                            <textarea></textarea>
                        </div>

                        <div class="row textarea-row">
                            <label>Permanent Address :</label>
                            <textarea></textarea>
                        </div>

                        <div class="row">
                            <label>
                                Name of Spouse :
                                <small>(If married)</small>
                            </label>
                            <input type="text" />
                        </div>

                    </div>

                    <div class="agreement">
                        I hereby certify that all the information provided are true
                        and correct to the best of my knowledge.
                    </div>

                    <div class="button-container">
                        <button class="save-btn">Save</button>
                    </div>

                </div>
            </section>

        </main>
    </div>

</body>
</html>